In [ ]:
import pandas as pd
import numpy as np
import re
file_path = "patient_heart_rate.csv"

Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề
“Missing header in the csv file”

In [ ]:
column_names = ["Id", "Name", "Age", "Weight", "m0006", "m0612", "m1218", "f0006", "f0612", "f1218"]
df = pd.read_csv(file_path, names=column_names, sep=',', on_bad_lines='skip', encoding='utf-8')

df

      Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
10   9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
11  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87
12  11.0       Henry Nam   NaN       60kgs    78    75    72     -     -     -
13  12.0     Michel Long  34.0         NaN    65    67    55     -     -     -
14  13.0      Tana Ricky   NaN         NaN     -     -     -    68    72    70
15  15.0             NaN  52.0      180lbs     -     -     -    68    75    72

Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao
gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [ ]:
df[['Firstname','Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
df

,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Firstname,Lastname
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
11,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck
12,11.0,NaN,60kgs,78,75,72,-,-,-,Henry,Nam
13,12.0,34.0,NaN,65,67,55,-,-,-,Michel,Long
14,13.0,NaN,NaN,-,-,-,68,72,70,Tana,Ricky
15,15.0,52.0,180lbs,-,-,-,68,75,72,NaN,NaN

Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [ ]:

weight = df['Weight']

for i in range(0, len(weight)):
    x = str(weight[i])
    if "lbs" in x[-3:]:
        x = x[:-3]
        float_x = float(x)
        y = int(float_x / 2.2)
        y = str(y) + "kgs"
        weight[i] = y
df

/tmp/ipython-input-2331885008.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-2331885008.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-2331885008.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-2331885008.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-2331885008.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có
thể đưa ra là xóa bỏ

In [ ]:
df.dropna(how="all", inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,
age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải
dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [ ]:
df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
df

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.
Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác
hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [ ]:
# Problem 6:
df.Firstname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)

print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

/tmp/ipython-input-2849906308.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
/tmp/ipython-input-2849906308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Firstname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
/tmp/ipython-input-2849906308.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
/tmp/ipython-input-2849906308.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Lastname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)

Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart
Rate”. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ
liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề
này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa
đề xuất từ chuyên gia như sau:

In [ ]:
df = df.copy()
df = df.dropna(subset=['Age', 'Weight'], how='all')
mean_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(mean_age)

print(df.head())

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0  36.1  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther

Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta
thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd).
Còn giá trị thì là kết quả huyết áp.

In [ ]:
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
             value_name='PulseRate',
             var_name='sex_and_time')
tmp_df = df['sex_and_time'].str.extract(r'(\D)(\d{2})(\d{2})', expand=True)
tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]
tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]
df = pd.concat([df, tmp_df], axis=1)
df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)
df = df.dropna(subset=['PulseRate'])
df = df.sort_values(by=['Id', 'Time']).reset_index(drop=True)
print(df.head(10))

    Id   Age Weight Firstname Lastname PulseRate Sex   Time
0  1.0  56.0  70kgs     Micky     Mous        72   m  00-06
1  1.0  56.0  70kgs     Micky     Mous         -   f  00-06
2  1.0  56.0  70kgs     Micky     Mous        69   m  06-12
3  1.0  56.0  70kgs     Micky     Mous         -   f  06-12
4  1.0  56.0  70kgs     Micky     Mous        71   m  12-18
5  1.0  56.0  70kgs     Micky     Mous         -   f  12-18
6  2.0  34.0  70kgs    Donald     Duck         -   m  00-06
7  2.0  34.0  70kgs    Donald     Duck        85   f  00-06
8  2.0  34.0  70kgs    Donald     Duck         -   m  06-12
9  2.0  34.0  70kgs    Donald     Duck        84   f  06-12

11.Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng
phương pháp sau

In [ ]:
df['PulseRate'] = pd.to_numeric(df['PulseRate'], errors='coerce')

df = df.sort_values(by=['Id', 'Time']).reset_index(drop=True)

missing_count = df['PulseRate'].isnull().sum()
total_count = len(df)
missing_ratio = (missing_count / total_count) * 100

print(f"Số lượng giá trị thiếu: {missing_count}")
print(f"Tỉ lệ thiếu dữ liệu: {missing_ratio:.2f}%")

def fill_missing_pulse(data):
    df_temp = data.copy()

    for i in range(len(df_temp)):
        if pd.isna(df_temp.loc[i, 'PulseRate']):

            pid = df_temp.loc[i, 'Id']
            sex = df_temp.loc[i, 'Sex']

            fill_value = np.nan


            if (i > 0 and i < len(df_temp)-1) and \
               (df_temp.loc[i-1, 'Id'] == pid) and (df_temp.loc[i+1, 'Id'] == pid) and \
               pd.notna(df_temp.loc[i-1, 'PulseRate']) and pd.notna(df_temp.loc[i+1, 'PulseRate']):

                fill_value = (df_temp.loc[i-1, 'PulseRate'] + df_temp.loc[i+1, 'PulseRate']) / 2

            elif (i > 1) and \
                 (df_temp.loc[i-1, 'Id'] == pid) and (df_temp.loc[i-2, 'Id'] == pid) and \
                 pd.notna(df_temp.loc[i-1, 'PulseRate']) and pd.notna(df_temp.loc[i-2, 'PulseRate']):

                fill_value = (df_temp.loc[i-1, 'PulseRate'] + df_temp.loc[i-2, 'PulseRate']) / 2

            elif (i < len(df_temp)-2) and \
                 (df_temp.loc[i+1, 'Id'] == pid) and (df_temp.loc[i+2, 'Id'] == pid) and \
                 pd.notna(df_temp.loc[i+1, 'PulseRate']) and pd.notna(df_temp.loc[i+2, 'PulseRate']):

                fill_value = (df_temp.loc[i+1, 'PulseRate'] + df_temp.loc[i+2, 'PulseRate']) / 2

            elif pd.notna(df_temp[df_temp['Id'] == pid]['PulseRate'].mean()):
                fill_value = df_temp[df_temp['Id'] == pid]['PulseRate'].mean()

            elif pd.notna(df_temp[df_temp['Sex'] == sex]['PulseRate'].mean()):
                fill_value = df_temp[df_temp['Sex'] == sex]['PulseRate'].mean()
            else:
                global_mean = df_temp['PulseRate'].mean()
                if pd.notna(global_mean):
                    fill_value = global_mean
                else:
                    fill_value = 72
            df_temp.loc[i, 'PulseRate'] = fill_value

    return df_temp

# Gọi hàm xử lý
df = fill_missing_pulse(df)

# Kiểm tra lại xem còn dữ liệu thiếu không
print("\n--- Sau khi xử lý ---")
print(f"Số lượng giá trị thiếu: {df['PulseRate'].isnull().sum()}")
print(df.head(10))

Số lượng giá trị thiếu: 36
Tỉ lệ thiếu dữ liệu: 50.70%

--- Sau khi xử lý ---
Số lượng giá trị thiếu: 0
    Id   Age Weight Firstname Lastname  PulseRate Sex   Time
0  1.0  56.0  70kgs     Micky     Mous  72.000000   m  00-06
1  1.0  56.0  70kgs     Micky     Mous  70.500000   f  00-06
2  1.0  56.0  70kgs     Micky     Mous  69.000000   m  06-12
3  1.0  56.0  70kgs     Micky     Mous  70.000000   f  06-12
4  1.0  56.0  70kgs     Micky     Mous  71.000000   m  12-18
5  1.0  56.0  70kgs     Micky     Mous  70.500000   f  12-18
6  2.0  34.0  70kgs    Donald     Duck  81.666667   m  00-06
7  2.0  34.0  70kgs    Donald     Duck  85.000000   f  00-06
8  2.0  34.0  70kgs    Donald     Duck  84.500000   m  06-12
9  2.0  34.0  70kgs    Donald     Duck  84.000000   f  06-12

12. Hãy rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành
công với tên file patient_heart_rate_clean.csv

In [ ]:
df = df.sort_values(by=['Id', 'Time'])

df = df.reset_index(drop=True)
print("--- Dữ liệu hoàn chỉnh ---")
print(df.head())
print(f"Kích thước dữ liệu: {df.shape}")

output_filename = 'patient_heart_rate_clean.csv'
df.to_csv(output_filename, index=False)

print(f"\n Đã lưu thành công file: {output_filename}")

--- Dữ liệu hoàn chỉnh ---
    Id   Age Weight Firstname Lastname  PulseRate Sex   Time
0  1.0  56.0  70kgs     Micky     Mous       72.0   m  00-06
1  1.0  56.0  70kgs     Micky     Mous       70.5   f  00-06
2  1.0  56.0  70kgs     Micky     Mous       69.0   m  06-12
3  1.0  56.0  70kgs     Micky     Mous       70.0   f  06-12
4  1.0  56.0  70kgs     Micky     Mous       71.0   m  12-18
Kích thước dữ liệu: (71, 8)

 Đã lưu thành công file: patient_heart_rate_clean.csv